.main_container{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.main_header{
    width: 100%;
    height: 15%;
    font-size: 3rem;
    font-weight: 400;
    border: 1px solid red;
}
