.login_container {
  height: 100%;
  width: 100%;
}

.login_header {
  height: 20%;
}

.login_input {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_fields {
  margin-bottom: 10%;
}
